node_modules
build
data
.vscode/dryrun.log
.vscode/configurationCache.log
.vscode/targets.log
.vscode/targets.log

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
# ionic
front-ionic-angular/.angular
front-ionic-angular/.idea
front-ionic-angular/.ionic
front-ionic-angular/.sass-cache
front-ionic-angular/.sourcemaps
front-ionic-angular/.versions
front-ionic-angular/.vscode
front-ionic-angular/coverage
front-ionic-angular/dist 
front-ionic-angular/platforms
front-ionic-angular/plugins
front-ionic-angular/www

